<h1>Sections#index</h1>
<% @sections.each do |section| %>
    <%= section.name %>
    <%= link_to 'Show', section %>
    <%= link_to 'Edit', edit_section_path(section) %>
    <%= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete %><br/>
<% end %>
<%= link_to 'New Section', new_section_path %>